<script src="{{ 'accounts.js' | asset_url }}" defer="defer"></script>

{% paginate customer.addresses by 5 %}

<div class="account">
  <div class="wrapper">
    <header class="account__header">
      <h1 class="h3">{{ 'customer.addresses.title' | t }}</h1>
      <p><a class="cta js-cta js-address" href="{{ routes.account_url }}"><span>Back</span> <span>Account Details</span></a></p>
    </header>

    <div class="account__grid">
      <div class="account__grid-item">
        <div id="AddressNewForm" class="form form-vertical">
          {% form 'customer_address', customer.new_address %}
            <h4 class="h4">{{ 'customer.addresses.add_new' | t }}</h4>

            <div class="form__group-container">
              <div class="form__group">
                <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
              </div>

              <div class="form__group">
                <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
              </div>
            </div>

            <div class="form__group-container">
              <div class="form__group form__group--full-width">
                <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization">
              </div>
              <div class="form__group form__group--full-width">
                <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">
              </div>
              <div class="form__group form__group--full-width">
                <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
              </div>
            </div>

            <div class="form__group-container">
              <div class="form__group">
                <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
              </div>

              <div class="form__group">
                <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                <select id="AddressCountryNew" class="js-select" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
              </div>
            </div>

            <div id="AddressProvinceContainerNew" style="display:none">
              <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
              <select id="AddressProvinceNew" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
            </div>

            <div class="form__group">
              <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
              <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
            </div>

            <div class="form__group">
              <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
              <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
            </div>

            <div class="form__group">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
            </div>
            
            <div>
              <button class="btn js-btn" type="submit" value="{{ 'customer.addresses.add' | t }}">
                <span>Add Address</span>
              </button>
            </div>

          {% endform %}
        </div>
      </div>

        {% comment %}
          List all customer addresses with a unique edit form.
          Also add pagination in case they have a large number of addresses
        {% endcomment %}
        <div class="account__grid-item">
          <ul class="account__addresses">
            <h4 class="h4" style="margin-bottom: 40px">Your addresses</h4>
            {% for address in customer.addresses %}
              <li class="account__address js-address-container">
                <div class="address js-address text-center {% if address == customer.default_address %}default{% endif %}">
                  
                  {{ address | format_address }}

                  <div class="address__ctas">
                   
                      <button
                        id="EditFormButton_{{ address.id }}"
                        type="button"
                        class="btn js-edit-address address-edit-toggle"
                        data-form-id="{{ address.id }}"
                        aria-owns="EditAddress_{{ address.id }}"
                        aria-expanded="false"
                      >
                        <span>Edit address</span>
                      </button>
                    
                   
                      <button
                        type="button"
                        class="btn btn--outline js-delete-address"
                        data-target="{{ address.url }}"
                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                      >
                        <span>Delete address</span>
                      </button>
                    
                  </div>
                </div>

                <div id="EditAddress_{{ address.id }}" class="form js-address-form form-vertical hide">
                  {% form 'customer_address', address %}

                    <div class="form__group-container">
                      <div class="form__group">
                        <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                        <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name">
                      </div>


                      <div class="form__group">
                        <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                        <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name">
                      </div>
                    </div>

                    <div class="form__group">
                      <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>
                      <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization">
                    </div>

                    <div class="form__group">
                      <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>
                      <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="street-address address-line1">
                    </div>

                    <div class="form__group">
                      <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>
                      <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="street-address address-line2">
                    </div>

                    <div class="form__group-container">
                      <div class="form__group">
                          <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>
                          <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2">
                      </div>
                      <div class="form__group">
                        <label for="AddressCountry_{{ form.id }}">{{ 'customer.addresses.country' | t }}</label>
                        <select id="AddressCountry_{{ form.id }}" class="address-country-option js-select" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}" autocomplete="country">{{ all_country_option_tags }}</select>
                      </div>
                    </div>

                    <div class="form__group">
                      <div id="AddressProvinceContainer_{{ form.id }}" style="display:none">
                        <label for="AddressProvince_{{ form.id }}">{{ 'customer.addresses.province' | t }}</label>
                        <select id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}" autocomplete="address-level1"></select>
                      </div>
                    </div>

                    <div class="form__group">
                      <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                      <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code">
                    </div>

                    <div class="form__group">
                        <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                        <input type="tel" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}" autocomplete="phone">
                    </div>

                    <div class="form__group">
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_{{ form.id }}">{{ 'customer.addresses.set_default' | t }}</label>
                    </div>

                    <div class="form__ctas form__ctas--flex">
                     <button type="submit" class="cta js-cta" value="{{ 'customer.addresses.update' | t }}"><span>Update</span> <span>Address</span></button>
                     <button type="button" class="cta js-cta js-cancel-edit" data-form-id="{{ form.id }}"><span>Cancel</span> <span>Edit</span></button>
                    </div>

                  {% endform %}
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

        {%- if paginate.pages > 1 -%}
          {% include 'pagination', paginate: paginate %}
        {%- endif -%}
      </div>
    </div>  
  </div>
</div>
{% endpaginate %}
