<div class="image">
{%- if section.settings.image != blank -%}
    {{ section.settings.image | image_url: width: 1920 | image_tag }}
{%- endif -%}

{%- if section.settings.video != blank -%}
    {{ section.settings.video | video_tag: muted: true, loop: true, controls: false, autoplay: true }}
{%- endif -%}
</div>

<div class="content">
    <div class="content__inner">
    {% for block in section.blocks %}
        {% if block.type == 'subheadline' %}
            <h1 class="h5">{{ block.settings.title }}</h1>
        {% elsif block.type == 'headline' %}
            <p class="h2">{{ block.settings.title | remove: '<p>' | remove: '</p>' }}</p>
        {% elsif block.type == 'copy' %}
            {{ block.settings.title }}
        {% endif %}
    {% endfor %}
    </div>
</div>



{% schema %}
{
  "name": "Split Hero",
  "tag": "section",
  "class": "split-hero",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
        "type": "url",
        "id": "video",
        "label": "Video"
    } 
  ],
  "blocks": [
    {
      "type": "subheadline",
      "name": "Subheadline",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Story",
          "label": "Headline"
        }
      ]
    },
    {
      "type": "headline",
      "name": "Headline",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "default": "<p><em>Less</em> chaos, <em>more</em> clarity</p>",
          "label": "Headline"
        }
      ]
    },
    {
      "type": "copy",
      "name": "Copy",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "default": "<p>The one constant in life is change — and that includes our physical and mental health. Torreya is a community for anyone who wants to slow down, break free from the chaos, and start fresh. We’re out to transform skincare and wellbeing, so that taking care of yourself and feeling good is not only easier but more enjoyable.  And every moment is an opportunity to come back to you.</p>",
          "label": "Copy"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Split Hero",
      "blocks": [
        {
          "type": "subheadline"
        },
        {
          "type": "headline"
        },
        {
          "type": "copy"
        }
      ]
    }
  ]
}
{% endschema %} 
