<script src="{{ 'gsap.min.js' | asset_url }}" defer></script>
<script src="{{ 'messages.js' | asset_url }}" defer></script>

<div class="wrapper">
    <div class="container">
        <div class="headline">
            <h3 class="h3">{{ section.settings.headline | remove: '<p>' | remove :'</p>' }}</h3>
            {{ section.settings.copy }}
        </div>
        <div class="content">
            <ul class="messages js-messages">
                {% for block in section.blocks %}
                <li class="message js-message"><span data-text="{{ block.settings.message | remove: '<p>' | remove: '</p>' }}">{{ block.settings.message }}</span></li>
                {% endfor %}
            </ul>
            {% comment %} <div class="h4 hide-on-mobile"><span>Text us: </span><a target="_blank" href="sms:516-898-7675">516-TXT-SMPL</a></div> {% endcomment %}
            {% comment %} <div class="h4 hide-on-desktop"><span>Text us: </span><a target="_blank" href="https://blp.ai/r/sms/nK0g3">516-TXT-SMPL</a></div> {% endcomment %}
        </div>
    </div>
</div>

{% schema %}
    {
    "name": "Text Subscribe",
    "tag": "section",
    "class": "text-subscribe",
    "settings": [
        {
        "type": "richtext",
        "id": "headline",
        "label": "Headline"
        },
        {
        "type": "richtext",
        "id": "copy",
        "label": "Copy"
        }
    ],
    "blocks": [
        {
            "type": "Message",
            "name": "Message",
            "settings": [
              {
              "type": "richtext",
              "id": "message",
              "label": "Message"
              }
            ]
        }
    ],
    "presets": [
        {
          "name": "Text Subscribe"
        }
      ]
    } 
{% endschema %}